/* Estilos básicos para todas as páginas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: orange;
}

main {
    padding: 2rem;
    background-color: #fff;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: smaller;
    height: 1%;
}

footer p {
    margin: 0;
}

img {
    width: 20%;
    position: initial;
    border-radius: 20%;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.img-project {
    width: 50%;
    border-radius: 10%;
    margin-top: 2%;
    position: relative;
    margin-left: 200px;
}